<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- tailwind Link -->
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</head>

<body>
    <div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4">
        <h1 class="text-2xl font-bold">Welcome to home page </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Doloremque animi omnis vel facere reiciendis voluptas asperiores velit ad ea et,
            eaque quibusdam sequi distinctio nesciunt, quidem vero fugiat facilis voluptatum quia praesentium quaerat
            natus.
            In voluptas veniam dolor laboriosam odit cumque, alias quaerat illo cum repellat explicabo, ea, fugit
            maiores?</p>
        <button class="px-3 py-3 rounded bg-blue-700">Click here</button>
    </div>
</body>

</html>